.container{
    max-width: 960px;
}

h1 {
    text-align: center;
    font-family: 'Grand Hotel', cursive;
    font-size: 8em;
    color: crimson;
}

.date-selection {
    text-align: center;

}

.city-selection {
    text-align: center;
    
}

.submit-btn {
    text-align: center;
    background-color: crimson;
    color: white
    
}

.submit {
    text-align: center;
}

.table{
    justify-content: center;
    text-align: center;
}

h3 {
    text-align: center;
    font-family: 'Grand Hotel', cursive;
    font-size: 3em;
    color: crimson;
}

hr {
    border: solid black;
    width: 576px;
}

/* .btn-secondary {
    /* margin-right: 50px; */
/* }

.btn-area {
    width: 576px;
    margin: 0 33%;
} */ 

.game-data {
    width: 576px;
    margin: auto;

}

/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */